/bootstrap/compiled.php
/vendor
public/upload*
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db


app/config/local/
bootstrap/start.php
app/config/app.php
app/config/database.php
public/robots.txt